* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.progress {
  background-color: red;
  height: 1.8px;
  animation: load 2s ease-in-out 1;
}

header {
  background-image: url('../images/homebackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 110vh;
  /* overflow-y: hidden; */
}


.dropdown {
  width: 100vw;
  height: 0; /* This prevents the parent from affecting layout */


}

.dropdown .img {
  position: fixed;
  top:1.25rem;
  left: 1.25rem;
}

.dropdown .img img {
  max-width: 4rem;
  max-height: 5rem;
  cursor: pointer;
}

.dropdown .link {
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
}

.dropdown .link button {
  background-color: #c4703f;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 0 0.5rem 0 0.5rem;
}

.dropdown .link button:hover{
  font-family: cursive;
  font-size: large;
}
.dropdown .link a {
  text-decoration: none;
  color: white;
}







.display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;


}

.display img {
  max-width: 60%;
  height: fit-content;
  object-fit: contain;
  display: block;
  margin: 0;
  padding: 0;
  opacity: 0.9;


}




/* card */

.myCard {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  padding: 15px 0 15px 0;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1.5s ease-out forwards;

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.frontSide,
.frontSide::before {
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}


@keyframes load {
  0% {
    width: 0vw;
  }

  50% {
    width: 60vw;
  }

  100% {
    width: 100vw;
  }

}


/* card */


.headtext {
  color: #ddd8d5;
  padding: 2rem;
  margin-top: 2rem;
  /* font-size: xx-large; */
  font-family: cursive;
}


.stickyfooter {
  width: 100vw;
  height: 2.5rem;
  background-color: #c4703f;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.stickyfooter ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  /* Aligns items vertically in the footer */
}

.stickyfooter ul li {
  text-decoration: none;
  list-style: none;
  color: white;
}

.stickyfooter ul li a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: cursive;
  font-size: larger;
}

.stickyfooter ul li a:hover {
  font-size: x-large;
  color: white;
}

.container {
  display: flex;
  height: max-content;
  width: 100vw;
  background-color: #232B2B;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.book{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  width: auto;
  color: #232B2B;
}
.book button{
  padding: 0.5rem;
  margin-top: 15px;
  border-radius: 2rem;
  cursor: pointer;

}
.book button:hover{
  font-family: cursive;
  font-size: larger;
}



.one1 {
  margin: 2.5rem 0 2.5rem 0;
  background-color: #c4703f;
  width: 50vw;
  height: max-content;
  border-radius: 2rem;


}

.one2 {
  margin: 2.5rem 0 2.5rem 0;
  background-color: #c4703f;
  width: 50vw;
  height: max-content;
  border-radius: 2rem;

}

.one3 {
  margin: 2.5rem 0 2.5rem 0;
  background-color: #c4703f;
  width: 50vw;
  height: max-content;
  border-radius: 2rem;

}

.one4 {
  margin: 2.5rem 0 2.5rem 0;
  background-color: #c4703f;
  width: 50vw;
  height: max-content;
  border-radius: 2rem;

}

.one5 {
  margin: 2.5rem 0 2.5rem 0;
  background-color: #c4703f;
  width: 50vw;
  height: max-content;
  border-radius: 2rem;

}


.photo {
  border-radius: 2rem;
}

.photo1 {
  background-image: url(../images/nargiskofta.JPG);
  width: 50vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid black;
}

.photo2 {
  background-image: url(../images/chickenqorma.webp);
  width: 50vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid black;
}

.photo3 {
  background-image: url(../images/vegetablebiryani.webp);
  width: 50vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid black;
}

.photo4 {
  background-image: url(../images/4.jpg);
  width: 50vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid black;
}

.photo5 {
  background-image: url(../images/5.jpg);
  width: 50vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid black;
}

.info {
  color: #ddd8d5;
  object-fit: contain;
  text-align: center;
  padding: 2rem;
}

.info h2 {
  line-height: 1.5rem;
  /* letter-spacing: 0.5rem; */
  margin-top: 1rem;
}

.info h6 {
  margin-top: 1rem;
  /* line-height: 0.5rem;
letter-spacing: 0.4rem;
word-spacing: 0.7rem; */
  font-size: larger;
}

footer {
  height: 100%;
  width: 100vw;
  background-color: #b37f61;

}

footer .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerphoto {
  width: 10vw;
  height: max-content;
  text-align: center;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0;
}

.footerphoto img {
  width: 10vw;
}

footer .content .footerphoto img{
  border: 2px solid black;
  border-radius: 5rem;
  background-color: #c4703f;
}

.detail {
  width: max-content;
  height: max-content;
  text-align: center;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0;
}

.detail ol {
  list-style: none;
  text-decoration: none;
}

.aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.aboutus input {
  width: 80vw;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
  font-size: medium;
  border-radius: 2rem;
  border: none;
}

.aboutus button {
  width: 30vw;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
  font-size: medium;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  background-color: #d69874;
}

.credit {
  padding: 2.5rem 0 2.5rem 0;
}

.credit p {
  padding: 2rem;
}

.aboutus button:hover {
  font-size: x-large;
}






@keyframes slideright {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideleft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.photo1,
.photo2,
.photo3,
.photo4,
.photo5,
.info {
  opacity: 0;
}

.photo1.showright {
  animation: slideright 1s ease-out forwards;
}

.photo2.showright {
  animation: slideright 1s ease-out forwards;
}

.photo3.showright {
  animation: slideright 1s ease-out forwards;
}

.photo4.showright {
  animation: slideright 1s ease-out forwards;
}

.photo5.showright {
  animation: slideright 1s ease-out forwards;
}

.info.showleft {
  animation: slideleft 1s ease-out forwards;
}



/* media query */

@media (max-width: 768px) {
  .display .card {
    display: none !important;
  }
}